<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>仿instagram.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>60DE58A21EE0826C0008A419</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60DE58B61EE0826C0008A419</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60DE58C11EE0826D0008A419</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
